body{
    text-align: center;
    color: #555;
}
img {
    width: 100%;
}

.btn-whatsapp{
    display:inline-block;
    margin-top:30px;
    padding:20px 40px;
    background-color:#25D366;
    color:white;
    font-size:24px;
    font-weight:bold;
    text-decoration:none;
    border-radius:12px;
    box-shadow:0 6px 15px rgba(0,0,0,0.25);
    transition:0.3s;
}

.btn-whatsapp:hover{
    background-color:#128C7E;
    transform:scale(1.05);
}
